.NavigationList {
    border: 1px solid #ccc;
    transition: all ease .5s;
}

.NavigationList:hover {
    border-color: #002163;
    background: #F4F6FC;
}

.NavigationList:hover + * { border-top-color: #002163; }

.NavigationList .NavigationList-btn {
    border: none;
    background: none;
    width: 100%;
}

.NavigationList:not(:last-child) {
    border-bottom: none;
}

.NavigationList:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.NavigationList:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}