.zk-navbar_div .zk-navbar_ul{ padding-left: 0;list-style-type: none; }
.zk-navbar_ul li a{ display: block;padding: 10px 20px;text-decoration: none;font-weight: 600;color: #333; }
.zk-navbar_ul li{ position: relative; }