.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

paymentgateway-pg-ws/bin/
paymentgateway-pg-ui/bin/struts-pg.xml
paymentgateway-pg-ui/bin/
paymentgateway-pg-core/bin/
paymentgateway-notification-txnpush/bin/
paymentgateway-notification-sms/bin/
paymentgateway-notification-email/bin/
paymentgateway-crypto/bin/
paymentgateway-crm/bin/
paymentgateway-commons/bin/
paymentgateway-bindb/bin/
paymentgateway-bindb/src/main/resources/log4j.properties
paymentgateway-crm/src/main/resources/log4j.properties
paymentgateway-pg-ui/src/main/resources/log4j.properties
paymentgateway-pg-ws/src/main/resources/log4j.properties
paymentgateway-pg-core/src/main/resources/log4j.properties
paymentgateway-commons/src/main/resources/log4j.properties

bin/
paymentgateway-pg-ui/src/main/java/com/paymentgateway/pg/action/DummyResponseAction.java
