@font-face {
  font-family: 'pg-icon';
  src:  url('../fonts/pg-icon.eot?2qskw4');
  src:  url('../fonts/pg-icon.eot?2qskw4#iefix') format('embedded-opentype'),
    url('../fonts/pg-icon.ttf?2qskw4') format('truetype'),
    url('../fonts/pg-icon.woff?2qskw4') format('woff'),
    url('../fonts/pg-icon.svg?2qskw4#pg-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.pg-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pg-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crypto:before {
  content: "\e9a8";
}
.icon-idbi-bank:before {
  content: "\e97f";
  color: #f58220;
}
.icon-rbl-bank .path1:before {
  content: "\e9a5";
  color: rgb(28, 49, 132);
}
.icon-rbl-bank .path2:before {
  content: "\e9a6";
  margin-left: -0.76953125em;
  color: rgb(223, 33, 17);
}
.icon-rbl-bank .path3:before {
  content: "\e9a7";
  margin-left: -0.76953125em;
  color: rgb(28, 49, 132);
}
.icon-indus-bank .path1:before {
  content: "\e980";
  color: rgb(152, 28, 30);
}
.icon-indus-bank .path2:before {
  content: "\e981";
  margin-left: -4.6484375em;
  color: rgb(255, 255, 255);
}
.icon-indus-bank .path3:before {
  content: "\e982";
  margin-left: -4.6484375em;
  color: rgb(255, 255, 255);
}
.icon-indus-bank .path4:before {
  content: "\e983";
  margin-left: -4.6484375em;
  color: rgb(255, 255, 255);
}
.icon-indus-bank .path5:before {
  content: "\e984";
  margin-left: -4.6484375em;
  color: rgb(255, 255, 255);
}
.icon-indus-bank .path6:before {
  content: "\e985";
  margin-left: -4.6484375em;
  color: rgb(255, 255, 255);
}
.icon-indus-bank .path7:before {
  content: "\e986";
  margin-left: -4.6484375em;
  color: rgb(255, 255, 255);
}
.icon-indus-bank .path8:before {
  content: "\e987";
  margin-left: -4.6484375em;
  color: rgb(255, 255, 255);
}
.icon-indus-bank .path9:before {
  content: "\e988";
  margin-left: -4.6484375em;
  color: rgb(255, 255, 255);
}
.icon-indus-bank .path10:before {
  content: "\e989";
  margin-left: -4.6484375em;
  color: rgb(255, 255, 255);
}
.icon-indus-bank .path11:before {
  content: "\e98a";
  margin-left: -4.6484375em;
  color: rgb(255, 255, 255);
}
.icon-indus-bank .path12:before {
  content: "\e98b";
  margin-left: -4.6484375em;
  color: rgb(255, 255, 255);
}
.icon-indus-bank .path13:before {
  content: "\e98c";
  margin-left: -4.6484375em;
  color: rgb(255, 255, 255);
}
.icon-idfc-bank .path1:before {
  content: "\e98d";
  color: rgb(152, 26, 29);
}
.icon-idfc-bank .path2:before {
  content: "\e98e";
  margin-left: -1.0087890625em;
  color: rgb(255, 255, 255);
}
.icon-idfc-bank .path3:before {
  content: "\e98f";
  margin-left: -1.0087890625em;
  color: rgb(255, 255, 255);
}
.icon-idfc-bank .path4:before {
  content: "\e990";
  margin-left: -1.0087890625em;
  color: rgb(255, 255, 255);
}
.icon-idfc-bank .path5:before {
  content: "\e991";
  margin-left: -1.0087890625em;
  color: rgb(255, 255, 255);
}
.icon-canara-bank .path1:before {
  content: "\e992";
  color: rgb(255, 182, 0);
}
.icon-canara-bank .path2:before {
  content: "\e993";
  margin-left: -1.24609375em;
  color: rgb(1, 158, 236);
}
.icon-canara-bank .path3:before {
  content: "\e994";
  margin-left: -1.24609375em;
  color: rgb(255, 181, 0);
}
.icon-yes-bank .path1:before {
  content: "\e995";
  color: rgb(255, 255, 255);
}
.icon-yes-bank .path2:before {
  content: "\e996";
  margin-left: -2.6787109375em;
  color: rgb(255, 255, 255);
}
.icon-yes-bank .path3:before {
  content: "\e997";
  margin-left: -2.6787109375em;
  color: rgb(255, 255, 255);
}
.icon-yes-bank .path4:before {
  content: "\e998";
  margin-left: -2.6787109375em;
  color: rgb(255, 255, 255);
}
.icon-yes-bank .path5:before {
  content: "\e999";
  margin-left: -2.6787109375em;
  color: rgb(255, 255, 255);
}
.icon-yes-bank .path6:before {
  content: "\e99a";
  margin-left: -2.6787109375em;
  color: rgb(255, 255, 255);
}
.icon-yes-bank .path7:before {
  content: "\e99b";
  margin-left: -2.6787109375em;
  color: rgb(255, 255, 255);
}
.icon-yes-bank .path8:before {
  content: "\e99c";
  margin-left: -2.6787109375em;
  color: rgb(196, 38, 27);
}
.icon-yes-bank .path9:before {
  content: "\e99d";
  margin-left: -2.6787109375em;
  color: rgb(0, 81, 146);
}
.icon-yes-bank .path10:before {
  content: "\e99e";
  margin-left: -2.6787109375em;
  color: rgb(0, 81, 146);
}
.icon-yes-bank .path11:before {
  content: "\e99f";
  margin-left: -2.6787109375em;
  color: rgb(0, 81, 146);
}
.icon-yes-bank .path12:before {
  content: "\e9a0";
  margin-left: -2.6787109375em;
  color: rgb(0, 81, 146);
}
.icon-yes-bank .path13:before {
  content: "\e9a1";
  margin-left: -2.6787109375em;
  color: rgb(0, 81, 146);
}
.icon-union .path1:before {
  content: "\e9a2";
  color: rgb(0, 87, 156);
}
.icon-union .path2:before {
  content: "\e9a3";
  margin-left: -1.16015625em;
  color: rgb(218, 37, 28);
}
.icon-pnb:before {
  content: "\e9a4";
  color: #f9c024;
}
.icon-user-o:before {
  content: "\e97d";
}
.icon-user:before {
  content: "\e97e";
}
.icon-sign-in:before {
  content: "\e97c";
}
.icon-edit:before {
  content: "\e97b";
}
.icon-pencil-square-o:before {
  content: "\e97b";
}
.icon-check-circle:before {
  content: "\e979";
}
.icon-arrow-left:before {
  content: "\e977";
}
.icon-plus-circle:before {
  content: "\e975";
}
.icon-plus:before {
  content: "\e976";
}
.icon-refresh:before {
  content: "\e973";
}
.icon-repeat:before {
  content: "\e974";
}
.icon-rotate-right:before {
  content: "\e974";
}
.icon-inr:before {
  content: "\e950";
}
.icon-rupee:before {
  content: "\e950";
}
.icon-freecharge:before {
  content: "\e970";
  color: #de8d6d;
}
.icon-Jio-pay .path1:before {
  content: "\e971";
  color: rgb(11, 80, 157);
}
.icon-Jio-pay .path2:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-upi-qr .path1:before {
  content: "\e953";
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path2:before {
  content: "\e954";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path3:before {
  content: "\e955";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path4:before {
  content: "\e956";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path5:before {
  content: "\e957";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path6:before {
  content: "\e958";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path7:before {
  content: "\e959";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path8:before {
  content: "\e95a";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path9:before {
  content: "\e95b";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path10:before {
  content: "\e95c";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path11:before {
  content: "\e95d";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path12:before {
  content: "\e95e";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path13:before {
  content: "\e95f";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path14:before {
  content: "\e960";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path15:before {
  content: "\e961";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path16:before {
  content: "\e962";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path17:before {
  content: "\e963";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path18:before {
  content: "\e964";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path19:before {
  content: "\e965";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path20:before {
  content: "\e966";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path21:before {
  content: "\e967";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path22:before {
  content: "\e968";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path23:before {
  content: "\e969";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path24:before {
  content: "\e96a";
  margin-left: -2.830078125em;
  color: rgb(105, 106, 106);
}
.icon-upi-qr .path25:before {
  content: "\e96b";
  margin-left: -2.830078125em;
  color: rgb(102, 104, 108);
}
.icon-upi-qr .path26:before {
  content: "\e96c";
  margin-left: -2.830078125em;
  color: rgb(102, 104, 108);
}
.icon-upi-qr .path27:before {
  content: "\e96d";
  margin-left: -2.830078125em;
  color: rgb(102, 104, 108);
}
.icon-upi-qr .path28:before {
  content: "\e96e";
  margin-left: -2.830078125em;
  color: rgb(39, 128, 59);
}
.icon-upi-qr .path29:before {
  content: "\e96f";
  margin-left: -2.830078125em;
  color: rgb(233, 102, 28);
}

.icon-american-express .path1:before {
  content: "\e930";
  color: rgb(0, 111, 207);
}

.icon-american-express .path2:before {
  content: "\e951";
  margin-left: -1.873046875em;
  color: rgb(255, 255, 255);
}

.icon-american-express .path3:before {
  content: "\e952";
  margin-left: -1.873046875em;
  color: rgb(0, 111, 207);
}

.icon-verified-visa .path1:before {
  content: "\e941";
  color: rgb(2, 94, 163);
}

.icon-verified-visa .path2:before {
  content: "\e942";
  margin-left: -2.3193359375em;
  color: rgb(2, 94, 163);
}
.icon-verified-visa .path3:before {
  content: "\e943";
  margin-left: -2.3193359375em;
  color: rgb(2, 94, 163);
}

.icon-verified-visa .path4:before {
  content: "\e944";
  margin-left: -2.3193359375em;
  color: rgb(2, 94, 163);
}
.icon-verified-visa .path5:before {
  content: "\e945";
  margin-left: -2.3193359375em;
  color: rgb(241, 165, 53);
}
.icon-verified-visa .path6:before {
  content: "\e946";
  margin-left: -2.3193359375em;
  color: rgb(2, 94, 163);
}
.icon-verified-visa .path7:before {
  content: "\e947";
  margin-left: -2.3193359375em;
  color: rgb(2, 94, 163);
}
.icon-verified-visa .path8:before {
  content: "\e948";
  margin-left: -2.3193359375em;
  color: rgb(2, 94, 163);
}
.icon-verified-visa .path9:before {
  content: "\e949";
  margin-left: -2.3193359375em;
  color: rgb(2, 94, 163);
}
.icon-verified-visa .path10:before {
  content: "\e94a";
  margin-left: -2.3193359375em;
  color: rgb(2, 94, 163);
}
.icon-verified-visa .path11:before {
  content: "\e94b";
  margin-left: -2.3193359375em;
  color: rgb(2, 94, 163);
}
.icon-verified-visa .path12:before {
  content: "\e94c";
  margin-left: -2.3193359375em;
  color: rgb(2, 94, 163);
}
.icon-verified-visa .path13:before {
  content: "\e94d";
  margin-left: -2.3193359375em;
  color: rgb(2, 94, 163);
}
.icon-verified-visa .path14:before {
  content: "\e94e";
  margin-left: -2.3193359375em;
  color: rgb(2, 94, 163);
}
.icon-verified-visa .path15:before {
  content: "\e94f";
  margin-left: -2.3193359375em;
  color: rgb(2, 94, 163);
}
.icon-mastercard .path1:before {
  content: "\e929";
  color: rgb(253, 12, 21);
}
.icon-mastercard .path2:before {
  content: "\e92a";
  margin-left: -2.8134765625em;
  color: rgb(253, 12, 21);
}
.icon-mastercard .path3:before {
  content: "\e92b";
  margin-left: -2.8134765625em;
  color: rgb(253, 12, 21);
}
.icon-mastercard .path4:before {
  content: "\e92c";
  margin-left: -2.8134765625em;
  color: rgb(253, 12, 21);
}
.icon-mastercard .path5:before {
  content: "\e92d";
  margin-left: -2.8134765625em;
  color: rgb(253, 12, 21);
}
.icon-mastercard .path6:before {
  content: "\e92e";
  margin-left: -2.8134765625em;
  color: rgb(253, 12, 21);
}
.icon-mastercard .path7:before {
  content: "\e92f";
  margin-left: -2.8134765625em;
  color: rgb(253, 12, 21);
}
.icon-mastercard .path8:before {
  content: "\e931";
  margin-left: -2.8134765625em;
  color: rgb(253, 12, 21);
}
.icon-mastercard .path9:before {
  content: "\e932";
  margin-left: -2.8134765625em;
  color: rgb(253, 12, 21);
}
.icon-mastercard .path10:before {
  content: "\e933";
  margin-left: -2.8134765625em;
  color: rgb(253, 12, 21);
}
.icon-mastercard .path11:before {
  content: "\e934";
  margin-left: -2.8134765625em;
  color: rgb(253, 12, 21);
}
.icon-mastercard .path12:before {
  content: "\e935";
  margin-left: -2.8134765625em;
  color: rgb(243, 174, 18);
}
.icon-mastercard .path13:before {
  content: "\e936";
  margin-left: -2.8134765625em;
  color: rgb(243, 174, 18);
}
.icon-mastercard .path14:before {
  content: "\e937";
  margin-left: -2.8134765625em;
  color: rgb(243, 174, 18);
}
.icon-mastercard .path15:before {
  content: "\e938";
  margin-left: -2.8134765625em;
  color: rgb(243, 174, 18);
}
.icon-mastercard .path16:before {
  content: "\e939";
  margin-left: -2.8134765625em;
  color: rgb(243, 174, 18);
}
.icon-mastercard .path17:before {
  content: "\e93a";
  margin-left: -2.8134765625em;
  color: rgb(243, 174, 18);
}
.icon-mastercard .path18:before {
  content: "\e93b";
  margin-left: -2.8134765625em;
  color: rgb(243, 174, 18);
}
.icon-mastercard .path19:before {
  content: "\e93c";
  margin-left: -2.8134765625em;
  color: rgb(243, 174, 18);
}
.icon-mastercard .path20:before {
  content: "\e93d";
  margin-left: -2.8134765625em;
  color: rgb(243, 174, 18);
}
.icon-mastercard .path21:before {
  content: "\e93e";
  margin-left: -2.8134765625em;
  color: rgb(243, 174, 18);
}
.icon-mastercard .path22:before {
  content: "\e93f";
  margin-left: -2.8134765625em;
  color: rgb(243, 174, 18);
}
.icon-mastercard .path23:before {
  content: "\e940";
  margin-left: -2.8134765625em;
  color: rgb(243, 174, 18);
}
.icon-rupay-logo .path1:before {
  content: "\e925";
  color: rgb(56, 42, 141);
}
.icon-rupay-logo .path2:before {
  content: "\e926";
  margin-left: -3.7119140625em;
  color: rgb(29, 133, 70);
}
.icon-rupay-logo .path3:before {
  content: "\e927";
  margin-left: -3.7119140625em;
  color: rgb(236, 107, 0);
}
.icon-rupay-logo .path4:before {
  content: "\e928";
  margin-left: -3.7119140625em;
  color: rgb(0, 0, 0);
}

.icon-cancel-circle:before {
  content: "\e920";
}
.icon-cancel-cross:before {
  content: "\e921";
}
.icon-menu:before {
  content: "\e91f";
}
.icon-bin:before {
  content: "\e91d";
}
.icon-bin-alt:before {
  content: "\e91e";
}
.icon-kotak .path1:before {
  content: "\e922";
  color: rgb(0, 56, 116);
}
.icon-kotak .path2:before {
  content: "\e923";
  margin-left: -1.1630859375em;
  color: rgb(237, 28, 36);
}
.icon-kotak .path3:before {
  content: "\e924";
  margin-left: -1.1630859375em;
  color: rgb(255, 255, 255);
}

.icon-upi .path1:before {
  content: "\e91a";
  color: rgb(254, 122, 9);
}
.icon-upi .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(2, 140, 60);
}
.icon-upi .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-mc .path1:before {
  content: "\e917";
  color: rgb(255, 152, 0);
}
.icon-mc .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(213, 0, 0);
}
.icon-mc .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 61, 0);
}
.icon-right-arrow:before {
  content: "\e915";
}
.icon-left-arrow:before {
  content: "\e916";
}
.icon-bank:before {
  content: "\e914";
}
.icon-wallet-alt:before {
  content: "\e913";
}

.icon-cash:before {
  content: "\e912";
}  
.icon-axis:before {
  content: "\e907";
  color: #ae285d;
}
.icon-bob:before {
  content: "\e908";
  color: #FF5B35;
}
.icon-hdfc .path1:before {
  content: "\e909";
  color: rgb(237, 35, 42);
}
.icon-hdfc .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-hdfc .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-hdfc .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-hdfc .path5:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 76, 143);
}
.icon-icici .path1:before {
  content: "\e90e";
  color: rgb(240, 99, 33);
}
.icon-icici .path2:before {
  content: "\e90f";
  margin-left: -0.923828125em;
  color: rgb(174, 40, 46);
}
.icon-icici .path3:before {
  content: "\e910";
  margin-left: -0.923828125em;
  color: rgb(255, 255, 255);
}
.icon-sbi:before {
  content: "\e911";
  color: #16d;
}
.icon-secure-payment:before { content: "\e906"; }
.icon-emi:before { content: "\e900"; }
.icon-qr-code:before { content: "\e901"; }
.icon-net-banking:before { content: "\e902"; }
.icon-wallet:before { content: "\e903"; }
.icon-cards:before { content: "\e904"; }
.icon-quick-pay:before { content: "\e905"; }
