.loader {
    position: fixed;
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
}
.loaderInner {
    position: fixed;
    left: 0;
    top: 0;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    top: 43%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}
.loader .approvedNotification {
    text-align: center;
    width: 100%;
    color: #000;
}
.loader .defaultText {
    text-align: center;
    width: 100%;
    color: #000;
}
.loader .approvedNotification h3,
.loader .defaultText h3 {
    font-weight: 300;
    font-size: 21px;
    margin-bottom: 5px;
}
.loader .approvedNotification p,
.loader .defaultText p {
    font-size: 16px;
    font-weight: 300;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}