
//font variable
$primaryFont : 'Montserrat', sans-serif;

// font weight
$fontWeightLighter : 400;
$fontWeightRegular : 400;
$fontWeightMedium  : 500;
$fontWeightBold   : 700;
$fontWeightSemi : 600;

// heading font size
$globalFontSize : 10px;
$fontSizeXl : 30px;
$fontSizeLg : 24px;
$fontSizeMd : 18px;
$fontSizeSm : 16px;
// $globalFontSize : 14px;
$fontSizeXsm : 12px;


// colors 
$primaryColor : #e91e63;
$secondaryColor : #002663;
$tertiaryColor: #248bbf;
$defaultTextColor : #333333;
$headingColor : #3C4858; 
$whiteColor : #fff;
$blackColor : #000;
$darkGrey: #555;
$lightGrey: #ddd;
$defaultBackgroundColor: #eee;
$success : #a5dc86;
$error: #f55145;
